* {
  margin: 0;
  padding: 0;
}

#card {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 37.5rem;
  border-radius: 0.625rem;
  background-color: hsl(0, 0%, 100%);
  color: black;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.product-img {
  width: 18.75rem;
  border-radius: 0.625rem 0 0 0.625rem;
}

.montserrat {
  font-family: 'Montserrat';
}

.fraunces {
  font-family: 'Fraunces';
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  color: hsl(212, 21%, 14%);
  line-height: 1;
}

p {
  font-size: 14px;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  line-height: 1.6;
}

.category {
  font-size: 0.8rem;
}

.price-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.discounted-price {
  font-size: 2rem;
  color: hsl(158, 36%, 37%);
}

.price {
  padding-left: 1rem;
  font-family: 'Montserrat';
  font-size: 13px;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem;
  outline: none;
  border: none;
  padding: 1rem;
  background-color: hsl(158, 36%, 37%);
}

button:hover {
  background-color: rgb(26, 64, 49);
}

button:active {
  background-color: rgb(20, 48, 37);
}

button > span {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  padding-left: 0.8rem;
}

button > img {
  width: 1rem;
}

@media screen and (max-width: 767px) {
  #card {
    flex-direction: column;
    width: 21.5rem;
    height: 38.25rem;
  }

  .product-img {
    object-fit: cover;
    object-position: 100% 45%;
    height: 15rem;
    width: 100%;
    border-radius: 0.625rem 0.625rem 0 0;
  }

  .card-content {
    padding: 1.5rem;
  }
  .card-content > * {
    margin-bottom: 1rem;
  }
}
